<!DOCTYPE html>
<head>
<title>Yulin NewTab sync services</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@300&display=swap');
    body {
        font-family: 'Cairo Play', sans-serif;
        background-color: #f5f5f5;
    }
</style>

<h1>Account Delete Success!</h1><br>
<p>I am sorry about you go,but you can go back everytime</p><br>
<p>Have a nice day</p><br>
<p>If you have any issue about <a href="https://github.com/yoni13/Yulin_Newtab_Server">the server</a> or <a href="https://github.com/yoni13/Yulin_Newtab">the extension</a>, feel free to create an issue</p>
