<!DOCTYPE html>
<head>
<title>Yulin NewTab sync services</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@300&display=swap');
    body {
        font-family: 'Cairo Play', sans-serif;
        background-color: #f5f5f5;
    }
</style>

<h1>Password Reset</h1>
<br>
<form method="post">
    <label for="lname">Reset your Password:</label><br>
    <input type="password" name="password">
    <input type="submit" value="Submit">
</form><br>
<p>If you have any issue about <a href="https://github.com/yoni13/Yulin_Newtab_Server">the server</a> or <a href="https://github.com/yoni13/Yulin_Newtab">the extension</a>, feel free to create an issue</p>